* {
    margin: 0; // Remove o espaçamento externo padrão dos navegadores
    padding: 0; // Remove preenchimento padrão
    box-sizing: border-box; // Inclui padding e borda no cálculo do tamanho
}

header {
    background-color: #66BB6A;
    height: 10vh;
    color: #ffffff;
    font-size: 1.2rem;
    //padding-left: 50px; Padding move internamente, movendo da esquerda para a direita
    //padding-top: 25px; movendo internamente de cima para baixo
    //padding-bottom: 20px; //movendo internamente de baixo para cima (comentar o padding top)
    //padding-right: 50px; Move internamente da direita para a esquerda

    // margin: 30px; Mostrar que a margin move toda a caixa, movendo os 4 lados (cima, direita, baixo, esquerda)
    // margin-top: 20px; // top - em cima
    // margin-left: 30px; // left - esquerda
    // margin-right: 50px; // right - direita
    // margin-bottom: 20px; // bottom -  embaixo
    h2 {
        display: block; //Ocupa toda a linha
        display: inline; //Ocupa somente o tamanho necessário
        display: inline-block; // Deixa na mesma linha,e permite o controle de largura e altura
        width: 40%;
        padding-left: 160px;
        margin-top: 40px;
    
         font-family: "Sansita Swashed", system-ui;
    }

    /* O nav também é block por padrão, então muda o comportamento */

    nav {
        display: block; //Ocupa toda a linha
        display: inline; //Ocupa somente o tamanho necessário
        width: 40%; //Com o inline, ele não aceita tamanhos.
        display: inline-block; // Deixa namesma linha,e permite o controle de largura e altura
        text-align: end;
        height: 2vh;

        a {
            margin-left: 40px; // espaço entre os links
            color: #ffffff;
            text-decoration: none; //Tira a estilização padrão da tag A
        }
    }
}

.background {
  background-image: url("./background.png");
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding-top: 100px;
  button{
    background-color: #66BB6A;
    color: #ffffff;
    padding: 10px 30px;
    border: none;
    margin: 10px;
    border-radius: 29px;
    box-shadow:  0 2px 6px rgba(0, 0, 0, 0.1);;
    width: 14%;
    height: 5vh;
    font-size: 1.1rem;
  }
   
  h1 {
    font-family: "Sansita Swashed", system-ui;
    font-size: 3rem;
    
  }
  p {
    margin-top: 60px;
    margin-bottom: 90px;
    width: 26%;
    margin-left: 700px;
    font-size: 1.2rem;
  }
}
.cards {
  background-color: #f1f8e9;
  height: 60vh;
}
.card {
  background-color: #ffffff;
  width: 20vw;
  height: 50vh;
  text-align: center;
  border-radius: 15px;
  display: inline-block;
  margin: 42px;
  

  img {
    width: 100%;
    border-radius: 15px 15px 0 0;
  }
h3{
    margin: 20px;
}
button{
    background-color: #66BB6A;
    color: #ffffff;
    padding: 10px 30px;
    border: none;
    margin: 10px;
    border-radius: 29px;
    box-shadow:  0 2px 6px rgba(0, 0, 0, 0.1);;
}
}
